doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{product.denomination_medicament} - Détails du médicament
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css")
    script(src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js")
    script(src="/js/mapping.js")

  body
    a.back-button(href="/") Retour à la recherche
    
    .product-header
      h1= product.denomination_medicament
    
    .product-details
      .detail-section
        h2 Informations générales
        p
          span.label Code CIS : 
          span= product.id
        p
          span.label Présentation : 
          span= product.libelle_presentation
        if product.active_ingredients
          p
            span.label Substance(s) active(s) : 
            span= product.active_ingredients

      .detail-section
        h2 Trouver en pharmacie
        .pharmacy-selector
          label(for="pharmacy") Sélectionner une pharmacie :
          select#pharmacy.pharmacy-select(name="pharmacy")
            option(value="") -- Choisir une pharmacie --
            if pharmacies && pharmacies.length
              each pharmacy in pharmacies
                option(
                  value=pharmacy.raison_sociale
                  data-lat=pharmacy.latitude
                  data-lng=pharmacy.longitude
                  data-address=`${pharmacy.adresse}, ${pharmacy.code_postal} ${pharmacy.ville}`
                  data-dept=pharmacy.departement
                )= `${pharmacy.raison_sociale} (${pharmacy.departement})`
        
        #pharmacy-details.pharmacy-details(style="display: none;")
          p#pharmacy-name.pharmacy-name
          p#pharmacy-address.pharmacy-address
          p#pharmacy-location
          
          .radius-control
            label(for="radius") Rayon de recherche : 
              span#radius-value 5
              |  km
            input#radius(
              type="range"
              min="1"
              max="20"
              value="5"
              step="1"
            )
          
          .nearby-pharmacies
            h3 Pharmacies à proximité
            #nearby-list.nearby-list
        
        #map.pharmacy-map 